<%- include('partials/header') %>
<%- include('sidebar-navbar-cars')  %> 
        <div class="container-breadcrumbs-add-new-car">
            <h6>Cars</h6>
            <img src="images/chevron-right.svg" alt="panah-kanan">
            <a href="/list-car"><h6>List Car</h6></a>
            <img src="images/chevron-right.svg" alt="panah-kanan">
            <p>Add New Car</p>
        </div>
        <div class="container-add-new-car">
            <h2>Add New Car</h2>
        </div>
        <div class="form-add-new-car">
            <div class="content-form">
                <div class="form-nama">
                    <div>
                        <p>Nama*</p>
                    </div>
                    <div>
                        <input type="text" placeholder="Placeholder">
                    </div>
                </div>
                <div class="form-harga">
                    <div>
                        <p>Harga*</p>
                    </div>
                    <div>
                        <input type="text" placeholder="Placeholder">
                    </div>
                </div>
                <div class="form-foto">
                    <div>
                        <p>Foto*</p>
                    </div>
                    <div class="input-foto">
                        <input type="text" placeholder="Placeholder">
                        <p>File size max. 2MB</p>
                    </div>
                </div>
                <div class="frame-time">
                    <div class="frame-time-row">
                        <div><p>Start Rent</p></div>
                        <div class="strip"><p>-</p></div>
                    </div>
                    <div class="frame-time-row">
                        <div><p>Finish Rent</p></div>
                        <div class="strip"><p>-</p></div>
                    </div>
                    <div class="frame-time-row">
                        <div><p>Created at</p></div>
                        <div class="strip"><p>-</p></div>
                    </div>
                    <div class="frame-time-row">
                        <div><p>Updated at</p></div>
                        <div class="strip"><p>-</p></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-container">
            <div>
                <a href="/list-car"><button class="button-cancel"><p>Cancel</p></button></a>
            </div>
            <div>
                <a href="/list-car"><button class="button-save"><p>Save</p></button></a>
            </div>
        </div>
<%- include('partials/footer') %>