    <div class="col-md-4 col-sm-12">
            <div class="card-body">
                <div class="card-image">
                    <img src="images/image-mobil-card.png" alt="car-image">
                </div>
                <div class="card-name">
                    <p>Nama/Tipe Mobil</p>
                    <h6>Rp 430.000 / hari</h6>
                </div>
                <div class="card-rent">
                    <img src="images/kunci.svg" alt="kunci"> 
                    <p>Start rent - Finish rent</p>
                </div>
                <div class="card-update">
                    <img src="images/clock.svg" alt="clock">
                    <p>Updated at 4 Apr 2022, 09.00</p>
                </div>
                <div class="button-card">
                    <div>
                        <button type="button" class="btn btn-outline-danger delete-button">
                            <img src="images/trash.svg" alt="delete">
                            <p>Delete</p>
                        </button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-success edit-button">
                            <img src="images/edit.svg" alt="edit">
                            <p>Edit</p>
                        </button>
                    </div>
                </div>
            </div>
    </div>