<%- include('partials/header') %>
<%- include('sidebar-navbar-dashboard')  %> 
        <div class="container container-breadcrumbs-list-car">
            <h6>Dashboard</h6>
            <img src="images/chevron-right.svg" alt="panah-kanan">
            <p>Dashboard</p>
        </div>
        <div class="container-list-car">
            <h2>Dashboard</h2>
        </div>
        <div class="list-order-container">
            <div>
                <img src="images/list-order.svg" alt="rectangle">
            </div>
            <div>
                <h6>List Order</h6>
            </div>
        </div>
        <div class="table-1">
            <%- include('table-1') %>
        </div>
        <div class="navigation-table-1">
            <%- include('navigation-table-1') %>
        </div>
        <div class="list-car-container-db">
            <div>
                <img src="images/list-order.svg" alt="rectangle">
            </div>
            <div>
                <h6>List Car</h6>
            </div>
        </div>
        <div class="table-2">
            <%- include('table-2') %>
        </div>
        <div class="navigation-table-1">
            <%- include('navigation-table-2') %>
        </div>
<%- include('partials/footer') %>