<%- include('partials/header') %>
<%- include('sidebar-navbar-cars')  %> 
        <div class="container container-breadcrumbs-list-car">
            <h6>Cars</h6>
            <img src="images/chevron-right.svg" alt="panah-kanan">
            <p>List Car</p>
        </div>
        <div class="container-list-car">
            <div>
                <h2>List Car</h2>
            </div>
            <div>
                <a href="/add-new-car">
                    <button class="button-add-new-car">
                        <img src="images/plus.svg" alt="plus">
                        <h4>Add New Car</h4>
                    </button>
                </a>
            </div>
        </div>
        <div class="button-size">
            <button class="button-all"><p>All</p></button>
            <button class="button-small"><p>Small</p></button>
            <button class="button-medium"><p>Medium</p></button>
            <button class="button-large"><p>Large</p></button>
        </div>
        <div class="card-container">
            <div class="row">
                <%- include('card')  %>
                <%- include('card')  %>
                <%- include('card')  %>
            </div>
            <div class="row">
                <%- include('card')  %>
                <%- include('card')  %>
                <%- include('card')  %>
            </div>
            <div class="row">
                <%- include('card')  %>
                <%- include('card')  %>
                <%- include('card')  %>
            </div>
        </div>
<%- include('partials/footer') %> 