<%- include('partials/header') %>
    <div class="login-container">
        <div class="image-left">
            <img src="images/login-image.png" alt="mobil">
        </div>
        <div class="login-right">
            <div class="logo-login"></div>
            <div>
                <h1>Welcome, Admin BCR</h1>
            </div>
            <div><p>Email</p></div>
            <div>
                <input type="text" placeholder="Contoh: johndee@gmail.com">
            </div>
            <div>
                <p>Password</p>
            </div>
            <div>
                <input type="password" placeholder="6+ karakter">
            </div>
            <div>
                <a href="/dashboard"><button class="sign-in"><p>Sign In</p></button></a>
            </div>
        </div>
    </div>
<%- include('partials/footer') %>