<div class="left-button">
    <div class="limit-container">
        <div class="limit-p">
            <p>Limit</p>
        </div>
        <div class="limit">
            <p>50</p>
            <img src="images/down.svg" alt="down">
        </div>
    </div>
    <div class="jump-container">
        <div class="jump-header">
            <p>Jump to page</p>
        </div>
        <div class="jump">
            <div class="go">
                <p>1</p>
                <img src="images/down.svg" alt="down">
            </div>
            <div>
                <button class="go-button"><p>Go</p></button>
            </div>
        </div>
    </div>
</div>
<div class="right-button">
    <button><img src="images/fi_chevrons-left.svg" alt="left"></button>
    <button><p>1</p></button>
    <button><p>2</p></button>
    <button><p>...</p></button>
    <button><p>9</p></button>
    <button><img src="images/fi_chevrons-right.svg" alt="right"></button>
</div>