<div class="left-side">
    <div class="sidebar">
        <div class="left-sidebar">
            <div class="small-logo"></div>
            <div class="dashboard-button">
                <div class="image-home">
                    <a href="/dashboard"><img src="images/home.svg" alt="home"></a>
                </div>
                <div>
                    <a href="/dashboard"><p>Dashboard</p></a>
                </div>
            </div>
            <div class="cars-button">
                <div class="image-truck">
                    <img src="images/truck.svg" alt="truck">
                </div>
                <div>
                    <p>Cars</p>
                </div>
            </div>
        </div>
        <div class="right-sidebar">
            <div class="right-sidebar-atas">
                <div class="big-logo"></div>
            </div>
            <div class="right-sidebar-bawah">
                <div>
                    <p>CARS</p>
                </div>
                <div class="list-car-container">
                    <h6>List Car</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="right-side">
    <header>
        <nav class="navbar">
            <div class="search">
                <div class="menu-button">
                    <img src="images/menu.svg" alt="menu">
                </div>
                <div class="search-container">
                    <form class="nav-search d-flex">
                        <div class="box-search">
                            <img src="images/search.svg" alt="search">
                            <input type="search" class="form-control me-2" placeholder="Search" aria-label="Search">
                        </div>
                        <button class="button-search" type="button"><p>Search</p></button>
                    </form>
                </div>
                <div class="account-container">
                    <div class="account-icon">
                        <img src="images/account-icon.svg" alt="account-icon">
                    </div>
                    <div>
                        <p>Unis Badri</p>
                    </div>
                    <div>
                        <img src="images/chevron-down.svg" alt="chevron-down">
                    </div>
                </div>
            </div>
        </nav>
    </header>