<table class="table">
    <thead>
      <tr class="header">
        <th scope="col">No</th>
        <th scope="col">Name<img src="images/sort.svg" alt="sort"></th>
        <th scope="col">Category<img src="images/sort.svg" alt="sort"></th>
        <th scope="col">Price<img src="images/sort.svg" alt="sort"></th>
        <th scope="col">Start Rent<img src="images/sort.svg" alt="sort"></th>
        <th scope="col">Finish Rent<img src="images/sort.svg" alt="sort"></th>
        <th scope="col">Created at<img src="images/sort.svg" alt="sort"></th>
        <th scope="col">Updated at<img src="images/sort.svg" alt="sort"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Name</td>
        <td>Category</td>
        <td>Price</td>
        <td>Start Rent</td>
        <td>Finish Rent</td>
        <td>Created at</td>
        <td>Updated at</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Name</td>
        <td>Category</td>
        <td>Price</td>
        <td>Start Rent</td>
        <td>Finish Rent</td>
        <td>Created at</td>
        <td>Updated at</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Name</td>
        <td>Category</td>
        <td>Price</td>
        <td>Start Rent</td>
        <td>Finish Rent</td>
        <td>Created at</td>
        <td>Updated at</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Name</td>
        <td>Category</td>
        <td>Price</td>
        <td>Start Rent</td>
        <td>Finish Rent</td>
        <td>Created at</td>
        <td>Updated at</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Name</td>
        <td>Category</td>
        <td>Price</td>
        <td>Start Rent</td>
        <td>Finish Rent</td>
        <td>Created at</td>
        <td>Updated at</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Name</td>
        <td>Category</td>
        <td>Price</td>
        <td>Start Rent</td>
        <td>Finish Rent</td>
        <td>Created at</td>
        <td>Updated at</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Name</td>
        <td>Category</td>
        <td>Price</td>
        <td>Start Rent</td>
        <td>Finish Rent</td>
        <td>Created at</td>
        <td>Updated at</td>
      </tr>
      <tr>
        <td>8</td>
        <td>Name</td>
        <td>Category</td>
        <td>Price</td>
        <td>Start Rent</td>
        <td>Finish Rent</td>
        <td>Created at</td>
        <td>Updated at</td>
      </tr>
      <tr>
        <td>9</td>
        <td>Name</td>
        <td>Category</td>
        <td>Price</td>
        <td>Start Rent</td>
        <td>Finish Rent</td>
        <td>Created at</td>
        <td>Updated at</td>
      </tr>
      <tr>
        <td>10</td>
        <td>Name</td>
        <td>Category</td>
        <td>Price</td>
        <td>Start Rent</td>
        <td>Finish Rent</td>
        <td>Created at</td>
        <td>Updated at</td>
      </tr>
    </tbody>
</table>