<table class="table">
    <thead>
      <tr class="header">
        <th scope="col">No</th>
        <th scope="col">User Email<img src="images/sort.svg" alt="sort"></th>
        <th scope="col">Car<img src="images/sort.svg" alt="sort"></th>
        <th scope="col">Start Rent<img src="images/sort.svg" alt="sort"></th>
        <th scope="col">Finish Rent<img src="images/sort.svg" alt="sort"></th>
        <th scope="col">Price<img src="images/sort.svg" alt="sort"></th>
        <th scope="col">Status<img src="images/sort.svg" alt="sort"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>User Email</td>
        <td>Car</td>
        <td>Start Rent</td>
        <td>Finish Rent</td>
        <td>Price</td>
        <td>Status</td>
      </tr>
      <tr>
        <td>2</td>
        <td>User Email</td>
        <td>Car</td>
        <td>Start Rent</td>
        <td>Finish Rent</td>
        <td>Price</td>
        <td>Status</td>
      </tr>
      <tr>
        <td>3</td>
        <td>User Email</td>
        <td>Car</td>
        <td>Start Rent</td>
        <td>Finish Rent</td>
        <td>Price</td>
        <td>Status</td>
      </tr>
      <tr>
        <td>4</td>
        <td>User Email</td>
        <td>Car</td>
        <td>Start Rent</td>
        <td>Finish Rent</td>
        <td>Price</td>
        <td>Status</td>
      </tr>
      <tr>
        <td>5</td>
        <td>User Email</td>
        <td>Car</td>
        <td>Start Rent</td>
        <td>Finish Rent</td>
        <td>Price</td>
        <td>Status</td>
      </tr>
      <tr>
        <td>6</td>
        <td>User Email</td>
        <td>Car</td>
        <td>Start Rent</td>
        <td>Finish Rent</td>
        <td>Price</td>
        <td>Status</td>
      </tr>
      <tr>
        <td>7</td>
        <td>User Email</td>
        <td>Car</td>
        <td>Start Rent</td>
        <td>Finish Rent</td>
        <td>Price</td>
        <td>Status</td>
      </tr>
      <tr>
        <td>8</td>
        <td>User Email</td>
        <td>Car</td>
        <td>Start Rent</td>
        <td>Finish Rent</td>
        <td>Price</td>
        <td>Status</td>
      </tr>
      <tr>
        <td>9</td>
        <td>User Email</td>
        <td>Car</td>
        <td>Start Rent</td>
        <td>Finish Rent</td>
        <td>Price</td>
        <td>Status</td>
      </tr>
      <tr>
        <td>10</td>
        <td>User Email</td>
        <td>Car</td>
        <td>Start Rent</td>
        <td>Finish Rent</td>
        <td>Price</td>
        <td>Status</td>
      </tr>
    </tbody>
</table>