body {
    display: flex !important;
    font-family: Helvetica;
    background: #F4F5F7 !important;
}

.left-side {
    height: 902px;
}

.sidebar {
    position: sticky;
    display: flex;
    height: 100%;
}

.left-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 70px;
    height: 100%;
    background-color: #0D28A6;
}

.small-logo {
    width: 34px;
    height: 34px;
    margin: 18px;

    background: #CFD4ED;
}

.dashboard-button-db {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 70px;
    height: 64px;
    background: rgba(255, 255, 255, 0.3);
}

.dashboard-button-db p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
 
    text-align: center;
    color: #FFFFFF;
    margin: 0px;
}

.dashboard-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 70px;
    height: 64px;
}

.dashboard-button p {
    width: 60px;
    height: 18px;

    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;

    text-align: center;
    color: #FFFFFF;
    margin: 0px;
}

.cars-button p {
    width: 27px;
    height: 18px;

    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;

    text-align: center;
    color: #FFFFFF;
    margin: 0px;
}

.cars-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 70px;
    height: 64px;

    background: rgba(255, 255, 255, 0.3);
}

.cars-button-db {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 70px;
    height: 64px;
}

.cars-button-db p {
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;

    text-align: center;

    color: #FFFFFF;
    margin: 0px;
}

.right-sidebar {
    width: 220px;
    height: 100%;
    background-color: #FFFFFF;
}

.big-logo {
    width: 100px;
    height: 34px;
    margin: 24px;

    background: #CFD4ED;
}

.right-sidebar-atas {
    display: flex;
    align-items: center;
    width: 220px;
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.05);
}

.right-sidebar-bawah p {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin: 35px 0px 0px 24px;
 
    color: #8A8A8A;
}

.list-car-container {
    display: flex;
    align-items: center;

    width: 220px;
    height: 42px;
    padding: 0px 0px 0px 24px;
    margin-top: 19px;

    background: #CFD4ED;
}

.list-car-container h6 {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    color: #151515;
    margin: 0px;
}

.navbar {
    display: flex;
    position: sticky !important;
    width: 100%;
    height: 70px;
    margin: 0px;
    padding: 0px 0px 0px 24px !important;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.05);
    z-index: 1000;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;

    width: 100%;
    height: 70px;
    padding: 0px !important;
}

.nav-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-search {
    display: flex;
    justify-content: center;
    align-items: center;

    position: static;
    width: 71px;
    height: 36px;

    background: #FFFFFF;

    border: 1px solid #0D28A6;
    box-sizing: border-box;
    border-radius: 2px;
}

.box-search {
    display: flex;
    align-items: center;
    width: 174px;
    height: 36px;
}

.search-container p {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin: 0px;

    color: #0D28A6;
}

.account-container {
    display: flex;
    align-items: center;
    padding: 0px;

    width: 155px;
    height: 38px;
}

.account-container p {
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    text-align: center;

    color: #151515;
    margin: 0px 8px 0px 8px;
}

.container-breadcrumbs-list-car {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 92px;
    height: 18px;
    margin: 32px 0px 27px 25px !important;
    padding: 0px !important;
}

.container-breadcrumbs-list-car h6 {
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    margin: 0px 10px 0px 0px;
}

.container-breadcrumbs-list-car p {
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    margin: 0px 0px 0px 10px;
}

.container-list-car {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 25px 24px 25px;
    padding: 0px;
}

.container-list-car h2 {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.button-add-new-car {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 142px;
    height: 36px;
    padding: 0px;
    background: #0D28A6;
    border-radius: 2px;
}

.button-add-new-car img {
    margin-left: 12px;
}

.button-add-new-car h4 {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0px 10px 0px 10px;
}

.button-size {
    display: flex;
    justify-content: space-between;
    width: 292px;
    height: 36px;
    margin: 0px 0px 24px 25px;
}

.button-all p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    color: #0D28A6;
    margin: 0px;
}

.button-all {
    width: 42px;
    height: 36px;
    background: #CFD4ED;

    border: 1px solid #0D28A6;
    box-sizing: border-box;
    border-radius: 2px;
}


.button-small {
    width: 62px;
    height: 36px;
    background: #FFFFFF;
    
    border: 1px solid #AEB7E1;
    box-sizing: border-box;
    border-radius: 2px;
}

.button-small p {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    color: #AEB7E1;
    margin: 0px;
}

.button-medium {
    width: 77px;
    height: 36px;
    background: #FFFFFF;
    
    border: 1px solid #AEB7E1;
    box-sizing: border-box;
    border-radius: 2px;
}

.button-medium p {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    color: #AEB7E1;
    margin: 0px;
}

.button-large {
    width: 63px;
    height: 36px;
    background: #FFFFFF;
    
    border: 1px solid #AEB7E1;
    box-sizing: border-box;
    border-radius: 2px;
}

.button-large p {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    color: #AEB7E1;
    margin: 0px;
}

.row {
    margin-bottom: 24px;
}

.card-container {
    margin-left: 25px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 351px;
    height: 482px;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    background-color: white;
}

.card-image {
    margin: 31px 16px;
}

.card-name {
    width: 303px;
    height: 52px;

    margin-bottom: 16px;
}

.card-name p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    margin-bottom: 8px;
}

.card-name h6 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    margin-bottom: 0px;
}

.card-rent {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.card-update {
    display: flex;
    align-items: center;
}

.card-rent p , .card-update p {
    margin: 0px 0px 0px 9px;
}

.button-card {
    display: flex;
    justify-content: space-between;

    width: 303px;
    height: 48px;
    margin-top: 35px;
}

.button-card button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 143.5px;
    height: 48px;
}

.delete-button {
    border: 1px solid #FA2C5A;
    box-sizing: border-box;
    border-radius: 2px;
}

.edit-button {
    background: #5CB85F;
    border-radius: 2px;
}

.button-card p {
    margin: 0px 0px 0px 10px;
}

.container-breadcrumbs-add-new-car {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: auto;
    height: 18px;
    margin: 32px 0px 27px 25px;
    padding: 0px;
}

.container-breadcrumbs-add-new-car a {
    color: inherit;
}

.container-breadcrumbs-add-new-car h6 {
    
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    margin: 0px 3px 0px 5px;
}

.container-breadcrumbs-add-new-car p {
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    margin: 0px 0px 0px 10px;
}

.container-add-new-car {
    display: flex;
    align-items: center;
    margin: 0px 25px 24px 25px;
    padding: 0px;
}

.container-add-new-car h2 {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.form-add-new-car {
    width: 1100px;
    height: 350px;
    background-color: #FFFFFF;
    margin: 0px 0px 0px 25px;
}

.content-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 494px;
    height: 318px;
    margin: 0px 0px 16px 16px;
    padding-top: 16px;
}

.content-form p {
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    margin: 0px;
}

.content-form input {
    width: 339px;
    height: 36px;
}

.form-nama , .form-harga {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 494px;
    height: 36px;
    margin: 0px 0px 16px 0px;
}

.form-foto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 494px;
    height: 54px;
    margin: 0px 0px 16px 0px;
}

.input-foto p {
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 14px;
    margin: 4px 0px 0px 0px;
}

.frame-time {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;

    width: 494px;
    height: 144px;
}

.frame-time-row {
    display: flex;
    justify-content: space-between;
    width: 494px;
    height: 18px;
}

.strip {
    width: 339px;
    height: 18px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 143px;
    height: 36px;
    margin: 282px 0px 0px 25px;
}

.button-cancel {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70px;
    height: 36px;

    background: #FFFFFF;

    border: 1px solid #0D28A6;
    box-sizing: border-box;
    border-radius: 2px;
}

.button-cancel p {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    color: #0D28A6;
    margin: 0px;
}

.button-save {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 57px;
    height: 36px;

    background: #0D28A6;
    border-radius: 2px;
}

.button-save p {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    color: #FFFFFF;
    margin: 0px;
}

.list-order-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 79px;
    height: 24px;
    margin: 0px 0px 0px 25px;
}

.list-order-container h6 {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin: 0px;
}

.header {
    background: #CFD4ED;
    border-radius: 2px;
}

.table-1 {
    width: 100% !important;
    margin: 16px 0px 0px 25px;
}

tbody tr {
    background: #FFFFFF;
    border-radius: 2px;
}

th {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    width: 158.67px;
}

th:nth-child(1) {
    width: 20px !important;
}

td {
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.navigation-table-1 {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 16px 0px 38px 25px;
}

.left-button {
    display: flex;
}

.limit {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 58px;
    height: 36px;

    background: #FFFFFF;

    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    border-radius: 2px;
}

.limit p {
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    color: #8A8A8A;
    margin: 0px 5px 0px 0px;
}

.jump-container {
    margin: 0px 0px 0px 24px;
}

.jump {
    display: flex;
}

.jump-header {
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
}

.go {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 76px;
    height: 36px;

    background: #FFFFFF;

    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    border-radius: 2px 0px 0px 2px;
}

.go p {
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    color: #8A8A8A;
    margin: 0px 30px 0px 0px;
}

.go-button {
    width: 43px;
    height: 36px;

    background: #0D28A6;
    border-radius: 0px 2px 2px 0px;
}

.go-button p {
    font-family: 'Helvetica';
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    color: #FFFFFF;
    margin: 0px;
}

.limit-p p {
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
}

.right-button {
    display: flex;
}

.right-button button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 38px;
    height: 38px;

    background: #FFFFFF;

    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    border-radius: 2px;
}

.right-button button p {
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    color: #0D28A6;
    margin: 0px;
}

.right-button button:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 38px;
    height: 38px;


    background: #CFD4ED;

    border: 1px solid #0D28A6;
    box-sizing: border-box;
    border-radius: 2px;
}

.list-car-container-db {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 65px;
    height: 24px;
    margin: 40px 0px 0px 25px;
}

.list-car-container-db h6 {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin: 0px;
}

.table-2 {
    width: 100% !important;
    margin: 16px 0px 0px 25px;
}

.login-container {
    display: flex;
}

.login-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    padding-left: 55px;
    width: 482px;
    height: 900px;
}

.logo-login {
    width: 100px;
    height: 34px;

    background: #CFD4ED;
    margin-bottom: 32px;
}

.login-right h1 {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 32px;
}

.login-right p {
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin: 0px;
}

.login-right input {
    width: 370px;
    height: 36px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 9px;
    margin-bottom: 16px;
}

.login-right ::placeholder {
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;

    color: #A5A5A5;
}

.sign-in {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 370px;
    height: 36px;

    background: #0D28A6;
    border-radius: 2px;
    margin-top: 23px;
}

.sign-in p {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    color: #FFFFFF;
}